{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 id="MainTitle">Bienvenue sur {{ title }} {% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ app.user.username }}{% else %}invité(e){% endif %}</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
        <h2 id="BannerAlert">VOUS ETES SUR LE COMPTE ADMINISTRATEUR.</h2>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.verified == false%}
        <h2 id="BannerAlert">VOTRE COMPTE N'EST PAS VERIFIE.<br>VEUILLEZ LE VERIFIE OU IL SERA SUPPRIME !</h2>
    {% endif %}
</div>
{% endblock %}
