{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block stylesheets %}
    <link href="../../public/styles/productsStyle.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="productList">
    <h1>Page Products</h1>

    {% if products is not empty %}
        Voici une liste de produits en exemple :

        <ol>
            {% for product in products %}
                <li><img id="productImage" src="{{ product.picturesUrls }}" alt="{{ product.productName }}"/> -- {{ product.productName }} -- PRIX : {{ product.price }} € </li>
            {% endfor %}
        </ol>
    {% endif %}
</div>
{% endblock %}
