img#productImage {
    width : 20%
}

div#cartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;
}

div#cartHeader > p {
    flex-grow: 1;
}

div#productImage{
    width: fit-content;
    height : fit-content;
}

div#cartProduct {
    display: flex;
    flex-direction: row;
}

td#tdImage {
    width: fit-content;
    height : fit-content;
}