.btn-account {
    margin-left: 2%;
}

#BannerAlert {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0.2em;
}

#MainTitle {
    text-align: center;
    font-weight: bold;
}