div#productsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: #076a00;
}

a#productItem {
    height: auto;
    width: 10%;
    background-color:red;
    margin: 1%;
    border-radius: 20%;
    text-decoration: none;
    text-align: center;
}

img#productImage {
    margin-top: 2%;
    border-radius: 22%;
    max-width: 80%;
    height: 80%;
    padding: 2%;
}

p#oldPrice {
    text-decoration: line-through;
    color: darkgray;
}

div#productTitle {
    text-align: center;
    color: black;
    font-weight: bold;
    text-underline-mode: none;
}

h1#productName {
    text-align: center;
    font-weight: bold;
}

div#bodyProduct {
    display: flex;
    flex-direction: row;
}

div#info {
    display: flex;
    flex-direction: column;
}

div#gallery {
    width: 512px;
}

div#gallery > * {
    max-width: 100%;
}

td#imageList {
    max-width: 1rem;
}