<h1>Confirmation de votre commande {{ order.numOrder }}</h1>

{{ include('order/show.html.twig', {order: order, user: user, products: products, controller_name: 'Confirmation de votre commande'}) }}

<h3>Merci beaucoup et à bientôt chez Shopping_demo.</h3>