{% extends 'base.html.twig' %}

{% block title %}
    {{ controller_name }}
{% endblock %}

{% block body %}
    <h1>{{ controller_name }}</h1>

    <div>{{ dump(order) }}</div>

    <a href="{{ path('app_home') }}"><button type="button" class="btn btn-success btn-sm">Retour à l'acceuil</button></a>
{% endblock %}

